<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FortressCraftEvolved_Modding_Tool.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FortressCraftEvolved_Modding_Tool.User>
            <setting name="ResearchXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemsXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ManufactorerXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TerrainDataXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RefineryXmlPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoCrafterPath" serializeAs="String">
                <value />
            </setting>
        </FortressCraftEvolved_Modding_Tool.User>
    </userSettings>
</configuration>